@import url("global.css"); /* import grid CSS */

$couleur_Primaire: #9356DC;
$couleur_Secondaire: #FF79DA;
$couleur_Secondaire_hover: #fa92dd;
$couleur_Secondaire_Degrade: rgb (165, 90, 220);
$couleur_Tertiaire: #99E2D0;
$fond_clair: rgb(240, 240, 240);
$fond_Sombre: rgb(234, 234, 234);
$fond_Footer: rgb(53, 53, 53);
$color_Police_Grey:rgb(97, 91, 91);

$telephone: 780px;
$tablette_basse: 781px;
$tablette_haute: 1023px;
$ordi: 1024px; 

@font-face {
    font-family: 'titre_Police';
    src: url('./Shrikhand-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto_Bold';
    src: url('./Roboto-Bold.ttf');
}

//bloc global du Footer
.blocFooter
{
    background-color: $fond_Footer;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color : white;

    height: 170px;
    font-size: 1em;

    @media screen and (max-device-width: $telephone)
    {
        margin-top: 10px;
        margin-left: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
        height: 520px;
        font-size: 1.4em;
    }
    @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
    {
        margin-bottom: 0px;
    }

    // le titre du restaurant
    &__Title{
        margin-left: 50px;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 1.2em;
        font-family: 'titre_Police', Arial;
        @media screen and (max-device-width: $telephone)
        {
            margin-left: 50px;
            margin-top: 0px;
            margin-bottom: 50px;
            font-size: 1.6em;
        }
    }

    // le texte sous le titre du restaurant
    &__Text{
        margin-left: 60px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
        @media screen and (max-device-width: $telephone)
        {
            margin-left: 60px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &__TextSansIcone{
        margin-left: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
        @media screen and (max-device-width: $telephone)
        {
            margin-left: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .fas{
        margin-right: 0px;
        margin-left: -10px;
        font-size: 0.9em;
        width: 30px;
        @media screen and (max-device-width: $telephone)
        {
            margin-right: 30px;
            margin-left: -10px;
            font-size: 0.7em;
            width: 20px;
        }
    }
}