@import url("global.css");
/* import grid CSS */
@font-face {
  font-family: 'titre_Police';
  src: url("./Shrikhand-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("./Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto_Bold';
  src: url("./Roboto-Bold.ttf");
}

.menuGlobal {
  border: 1px solid #f0f0f0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: #f0f0f0;
  margin-top: -100px;
  font-family: 'Roboto';
  width: 100%;
  position: absolute;
}

@media screen and (min-device-width: 781px) and (max-device-width: 1023px) {
  .menuGlobal {
    font-size: 1.4em;
  }
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal {
    font-size: 4em;
  }
}

.menuGlobal__titre {
  margin-top: 70px;
  margin-left: 30px;
  font-size: 2.5em;
  width: 90%;
  font-family: 'titre_police';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-device-width: 781px) and (max-device-width: 1023px) {
  .menuGlobal__titre {
    font-size: 3em;
  }
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__titre {
    font-size: 1.5em;
  }
}

.menuGlobal__titre .far {
  font-size: 1em;
  width: 50px;
  color: #615b5b;
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__titre .far {
    font-size: 1em;
  }
}

.menuGlobal__tiersDeMenu {
  margin-left: 30px;
}

.menuGlobal__tiersDeMenu__blocMenu {
  margin-top: 100px;
}

@media screen and (min-device-width: 781px) and (max-device-width: 1023px) {
  .menuGlobal__tiersDeMenu__blocMenu {
    margin-top: 150px;
  }
}

.menuGlobal__tiersDeMenu__blocMenu__titreBlocMenu {
  color: #615b5b;
  border-bottom: 7px solid #99E2D0;
  margin-bottom: 50px;
  padding-bottom: 15px;
  width: 120px;
  margin-top: 100px;
}

@media screen and (min-device-width: 781px) and (max-device-width: 1023px) {
  .menuGlobal__tiersDeMenu__blocMenu__titreBlocMenu {
    font-size: 2em;
    width: 100px;
  }
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__tiersDeMenu__blocMenu__titreBlocMenu {
    font-size: 0.5em;
    margin-bottom: 0px;
    margin-left: 45%;
    width: 100px;
  }
}

.menuGlobal__tiersDeMenu__blocMenu__titreMenuEntree {
  position: relative;
  opacity: 0;
  -webkit-animation: animTitreMenu 0.5s linear forwards 1s;
          animation: animTitreMenu 0.5s linear forwards 1s;
}

.menuGlobal__tiersDeMenu__blocMenu__titreMenuPlat {
  position: relative;
  opacity: 0;
  -webkit-animation: animTitreMenu 0.5s linear forwards 2s;
          animation: animTitreMenu 0.5s linear forwards 2s;
}

.menuGlobal__tiersDeMenu__blocMenu__titreMenuDessert {
  position: relative;
  opacity: 0;
  -webkit-animation: animTitreMenu 0.5s linear forwards 3s;
          animation: animTitreMenu 0.5s linear forwards 3s;
}

@-webkit-keyframes animTitreMenu {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes animTitreMenu {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 40px;
  background-color: white;
  margin: 40px 0;
  height: 180px;
  width: 890px;
  -webkit-box-shadow: 0px 15px 20px #99E2D0;
          box-shadow: 0px 15px 20px #99E2D0;
  cursor: pointer;
}

@media screen and (min-device-width: 781px) and (max-device-width: 1023px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat {
    height: 170px;
  }
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat {
    width: 500px;
    height: 130px;
    margin-right: 50px;
  }
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__texteGlobal {
  width: 85%;
  padding-left: 20px;
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__texteGlobal {
    width: 85%;
  }
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__texteGlobal__texteHaut {
  font-size: 0.7em;
  font-weight: bold;
  padding-top: 30px;
}

@media screen and (min-device-width: 781px) and (max-device-width: 1023px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__texteGlobal__texteHaut {
    font-size: 2em;
  }
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__texteGlobal__texteHaut {
    font-size: 0.4em;
  }
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__texteGlobal__texteBas {
  width: 85%;
  font-size: 0.6em;
  color: #615b5b;
  padding-top: 7px;
}

@media screen and (min-device-width: 781px) and (max-device-width: 1023px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__texteGlobal__texteBas {
    font-size: 1.5em;
  }
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__texteGlobal__texteBas {
    font-size: 0.3em;
  }
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__prixPlat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  font-size: 0.8em;
  font-weight: bold;
  width: 15%;
  padding-top: 0px;
  padding-right: 15px;
}

@media screen and (min-device-width: 781px) and (max-device-width: 1023px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__prixPlat {
    font-size: 2em;
  }
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__prixPlat {
    font-size: 0.4em;
    padding-right: 20px;
    padding-top: 40px;
  }
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__prixPlat:hover + .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__prixPlatAnimation {
  width: 150px;
  opacity: 1;
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__prixPlat:hover + .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__prixPlatAnimation {
    width: 100px;
  }
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__prixPlatAnimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  font-size: 1em;
  opacity: 0;
  width: 0px;
  -webkit-transition: width 1s, opacity 1s;
  transition: width 1s, opacity 1s;
}

@media screen and (min-device-width: 781px) and (max-device-width: 1023px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__prixPlatAnimation {
    font-size: 2em;
  }
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__prixPlatAnimation {
    font-size: 0.5em;
  }
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__platEntree1 {
  position: relative;
  opacity: 0;
  -webkit-animation: animMenu 0.5s linear forwards 1.4s;
          animation: animMenu 0.5s linear forwards 1.4s;
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__platEntree2 {
  position: relative;
  opacity: 0;
  -webkit-animation: animMenu 0.5s linear forwards 1.6s;
          animation: animMenu 0.5s linear forwards 1.6s;
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__platEntree3 {
  position: relative;
  opacity: 0;
  -webkit-animation: animMenu 0.5s linear forwards 1.8s;
          animation: animMenu 0.5s linear forwards 1.8s;
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__platPlat1 {
  position: relative;
  opacity: 0;
  -webkit-animation: animMenu 0.5s linear forwards 2.4s;
          animation: animMenu 0.5s linear forwards 2.4s;
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__platPlat2 {
  position: relative;
  opacity: 0;
  -webkit-animation: animMenu 0.5s linear forwards 2.6s;
          animation: animMenu 0.5s linear forwards 2.6s;
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__platPlat3 {
  position: relative;
  opacity: 0;
  -webkit-animation: animMenu 0.5s linear forwards 2.8s;
          animation: animMenu 0.5s linear forwards 2.8s;
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__platDessert1 {
  position: relative;
  opacity: 0;
  -webkit-animation: animMenu 0.5s linear forwards 3.4s;
          animation: animMenu 0.5s linear forwards 3.4s;
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__platDessert2 {
  position: relative;
  opacity: 0;
  -webkit-animation: animMenu 0.5s linear forwards 3.6s;
          animation: animMenu 0.5s linear forwards 3.6s;
}

.menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__platDessert3 {
  position: relative;
  opacity: 0;
  -webkit-animation: animMenu 0.5s linear forwards 3.8s;
          animation: animMenu 0.5s linear forwards 3.8s;
}

@-webkit-keyframes animMenu {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes animMenu {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

.menuGlobal__buttonCommande {
  margin: 120px auto;
  margin-bottom: 200px;
  width: 250px;
  font-size: 1.5em;
  font-family: 'Roboto';
  padding: 38px 110px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff91ed), to(#c569e0));
  background: linear-gradient(#ff91ed, #c569e0);
  border-radius: 100px;
}

@media screen and (min-device-width: 781px) and (max-device-width: 1023px) {
  .menuGlobal__buttonCommande {
    font-size: 2em;
  }
}

@media screen and (min-device-width: 1024px) {
  .menuGlobal__buttonCommande {
    font-size: 0.5em;
    padding: 38px 110px;
    width: 175px;
  }
}
/*# sourceMappingURL=Page02_menu.css.map */