@import url("global.css"); /* import grid CSS */

$couleur_Primaire: #9356DC;
$couleur_Secondaire: #FF79DA;
$couleur_Secondaire_hover: #fa92dd;
$couleur_Secondaire_Degrade: rgb(165, 90, 220);
$couleur_Tertiaire: #99E2D0;
$fond_clair: rgb(240, 240, 240);
$fond_Sombre: rgb(234, 234, 234);
$fond_Footer: rgb(53, 53, 53);
$color_Police_Grey:rgb(97, 91, 91);

$duree_Animation_Menu: 0.5s;

$telephone: 780px;
$tablette_basse: 781px;
$tablette_haute: 1023px;
$ordi: 1024px; 

@font-face {
    font-family: 'titre_Police';
    src: url('./Shrikhand-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto_Bold';
    src: url('./Roboto-Bold.ttf');
}

// bloc global du menu
.menuGlobal{
    border: 1px solid $fond_clair;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: $fond_clair;
    margin-top: -100px;

    font-family: 'Roboto';

    width: 100%;
    position: absolute;
    @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
    {
        font-size: 1.4em;
    }
    @media screen and (min-device-width: $ordi)
    {
        font-size: 4em;
    }
    // titre à la française
    &__titre{
        margin-top: 70px;
        margin-left: 30px;
        font-size: 2.5em;
        width: 90%;
        font-family: 'titre_police';

        display: flex;
        justify-content: space-between;
        @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
        {
            font-size: 3em;
        }
        @media screen and (min-device-width: $ordi)
        {
            font-size: 1.5em;
        }
        // icone coeur
        .far{
            font-size: 1em;
            width: 50px;
            color: $color_Police_Grey;
            @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
            {

            }
            @media screen and (min-device-width: $ordi)
            {
                font-size: 1em;
            }
        }
    }

    // bloc contenant tout le menu : entrée / plat / dessert
    &__tiersDeMenu{
        margin-left: 30px;
        // bloc de chaque tiers : entrée / plat / dessert
        &__blocMenu{
            margin-top: 100px;

            @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
            {
                margin-top: 150px;
            }


          
            // titre de chaque tier de menu
            &__titreBlocMenu{
                color: $color_Police_Grey;
                border-bottom: 7px solid $couleur_Tertiaire;
                margin-bottom: 50px;
                padding-bottom: 15px;
                width: 120px;

                margin-top: 100px;

                @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
                {
                    font-size: 2em;
                    width: 100px;
                }
                @media screen and (min-device-width: $ordi)
                {
                    font-size: 0.5em;
                    margin-bottom: 0px;
                    margin-left: 45%;
                    width: 100px;
                }
            }

            // Partie animation apparition des titres de menus
            &__titreMenuEntree{
                position: relative;
                opacity: 0;
                animation: animTitreMenu $duree_Animation_Menu linear forwards 1s;
            }
            &__titreMenuPlat{
                position: relative;
                opacity: 0;
                animation: animTitreMenu $duree_Animation_Menu linear forwards 2s;
            }
            &__titreMenuDessert{
                position: relative;
                opacity: 0;
                animation: animTitreMenu $duree_Animation_Menu linear forwards 3s;
            }
            @keyframes animTitreMenu {
                from  {opacity:0; top: 20px;}
                to {opacity:1; top: 0px;}
            }


            // bloc du tier de menu sans le titre
            &__blocMenuSansTitre{

                @media screen and (min-device-width: $ordi)
                {
                    display: flex;
                    flex-direction: row;
                }

                // bloc de chaque plat 
                &__blocPlat{
                    display: flex;
                    flex-direction: row;
                    border-radius: 40px;
                    background-color: white;

                    margin: 40px 0;
                    height: 180px;
                    width: 890px;
                    box-shadow: 0px 15px 20px $couleur_Tertiaire;

                    cursor: pointer;
                    @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
                    {
                        height: 170px;
                    }
                    @media screen and (min-device-width: $ordi)
                    {
                        width: 500px;
                        height: 130px;
                        margin-right: 50px;
                    }

                    // bloc contenant la totalité du texte incluant le prix
                    &__texteGlobal{
                        width: 85%;
                        padding-left: 20px;
                        
                        flex-grow: 3;
                        @media screen and (min-device-width: $ordi)
                        {
                            width: 85%;
                        }
                        // nom du plat en gras
                        &__texteHaut{
                            font-size: 0.7em;
                            font-weight: bold;
                            padding-top: 30px;
                            @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
                            {
                                font-size: 2em;
                            }
                            @media screen and (min-device-width: $ordi)
                            {
                                font-size: 0.4em;
                            }
                        }
                        // nom du plat sans gras
                        &__texteBas{
                            width: 85%;
                            font-size: 0.6em;
                            color: $color_Police_Grey;
                            padding-top: 7px;
                            @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
                            {
                                font-size: 1.5em;
                            }
                            @media screen and (min-device-width: $ordi)
                            {
                                font-size: 0.3em;
                            }
                        }
                    }
                    // prix du plat
                    &__prixPlat{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 40px;

                        font-size: 0.8em;
                        font-weight: bold;
                        width: 15%;
                        
                        padding-top: 0px;
                        padding-right: 15px;
                        
                        flex-grow: 1;

                        @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
                        {
                            font-size: 2em;
                        }
                        @media screen and (min-device-width: $ordi)
                        {
                            font-size: 0.4em;
                            padding-right: 20px;
                            padding-top: 40px;
                        }
                        &:hover + .menuGlobal__tiersDeMenu__blocMenu__blocMenuSansTitre__blocPlat__prixPlatAnimation{    
                            width: 150px;
                            opacity: 1;
                            @media screen and (min-device-width: $ordi)
                            {
                                width: 100px;
                            }
                        }
                    }
                    &__prixPlatAnimation{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $couleur_Tertiaire;
                        color: white;
                        border-top-right-radius: 40px;
                        border-bottom-right-radius: 40px;
                        font-size: 1em;

                        opacity: 0;
                        width: 0px;
                        transition: width 1s, opacity 1s;
                        
                        flex-grow: 2;
                        
                        @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
                        {
                            font-size: 2em;
                        }
                        @media screen and (min-device-width: $ordi)
                        {
                            font-size: 0.5em;
                        }
                    }
                }

                //  Partie animation des plats du menu 

                    //bloc d'animation des plats "Entrée"
                    &__platEntree1{
                        position: relative;
                        opacity: 0;
                        animation: animMenu $duree_Animation_Menu linear forwards 1.4s;
                    }
                    &__platEntree2{
                        position: relative;
                        opacity: 0;
                        animation: animMenu $duree_Animation_Menu linear forwards 1.6s;
                    }
                    &__platEntree3{
                        position: relative;
                        opacity: 0;
                        animation: animMenu $duree_Animation_Menu linear forwards 1.8s;
                    }
                    //bloc d'animation des plats "Plat"
                    &__platPlat1{
                        position: relative;
                        opacity: 0;
                        animation: animMenu $duree_Animation_Menu linear forwards 2.4s;
                    }
                    &__platPlat2{
                        position: relative;
                        opacity: 0;
                        animation: animMenu $duree_Animation_Menu linear forwards 2.6s;
                    }
                    &__platPlat3{
                        position: relative;
                        opacity: 0;
                        animation: animMenu $duree_Animation_Menu linear forwards 2.8s;
                    }
                    //bloc d'animation des plats "Dessert"
                    &__platDessert1{
                        position: relative;
                        opacity: 0;
                        animation: animMenu $duree_Animation_Menu linear forwards 3.4s;
                    }
                    &__platDessert2{
                        position: relative;
                        opacity: 0;
                        animation: animMenu $duree_Animation_Menu linear forwards 3.6s;
                    }
                    &__platDessert3{
                        position: relative;
                        opacity: 0;
                        animation: animMenu $duree_Animation_Menu linear forwards 3.8s;
                    }
                    @keyframes animMenu {
                        from  {opacity:0; top: 20px;}
                        to {opacity:1; top: 0px;}
                    }
            }
        }
    }
    // bouton commander sous le menu
    &__buttonCommande{
        margin: 120px auto;
        margin-bottom: 200px;
        width: 250px;
        font-size: 1.5em;
        font-family: 'Roboto';

        padding: 38px 110px;
        color: white;
        background: linear-gradient(#ff91ed, #c569e0); 
        border-radius: 100px;
        @media screen and (min-device-width: $tablette_basse) and (max-device-width: $tablette_haute)
        {
            font-size: 2em;
        }
        @media screen and (min-device-width: $ordi)
        {
            font-size: 0.5em;
            padding: 38px 110px;
            width: 175px;
        }
    }
}
