@import 'global'; /* import grid CSS */


/* bloc le plus grand du header */
.menuGlobal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;

    @media screen and (max-width: $telephone)
    {
        flex-direction: column;
    }
    @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
    {
        flex-direction: column;
    }

    .titreSite{
        width: 300px;
        margin-left: 30px;
        margin-top: 20px;
        font-size: 3em;
        font-family: 'titre_Police', Arial;
        @media screen and (max-width: $telephone)
        {
            width: 99%;
            text-align: center;
            margin-left: 0px;
            margin-top: 20px;
            font-size: 1.2em;
        }
        @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
        {
            width: 99%;
            margin-left: 0px;
            margin-top: 10px;
            font-size: 3em;
            text-align: center;
        }
    }
    
    /* bloc global sans titre */
    .menuNavigation{
        display: flex;
        flex-direction: row;  
        font-family: 'Roboto';
              
        @media screen and (max-width: $telephone)
        {
            flex-direction: column;
        }
        @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
        {
            flex-direction: column;
            margin: 0px auto 0px auto;
            width: 600px;
        }
        .villeSelectionnee{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $fond_Sombre;
            background-color: $fond_Sombre;
            width: 200px;
            height: 40px;
            padding: auto 20px auto;
            margin-top: 0px;
            font-size: 1.2em;
            
            .fas{
                margin-right: 20px;
            }
            @media screen and (max-width: $telephone)
            {
                border-top: 2px solid $couleur_Tertiaire;
                width: 99%; 
                height: 60px;  
                font-size : 0.5em;
            }
            @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
            {
                border-top: 2px solid $couleur_Tertiaire;
                width: 99%; 
                height: 60px;  
                font-size : 1.6em;
            }
        }
    
        .choixResto-prev{
            display: flex;
            flex-direction: column;

            text-align: center;
            background-color: $fond_clair;
            width: 450px;
            height: 270px;
            padding-top: 0px;
            font-size: 1.4em;
            margin-bottom: 0px;

            @media screen and (max-width: $telephone)
            {
                width: 99.7%;
                height: 330px;
                font-size : 0.5em;
            }
            @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
            {
                width: 99.7%;
                height: 330px;
                font-size : 1.6em;
            }

            &__title{
                font-size: 1.2em;
                font-family: 'Roboto_Bold';
                margin-bottom: 0px;

                @media screen and (max-width: $telephone)
                {
                    font-size: 1.5em;
                }
                @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
                {
                    font-size: 1.2em;
                }
            }

            &__descriptif{
                margin-top: 0px;
                font-size: 0.9em;      
            }

            &__buttonExplorer{
                font-size: 1em;
                width: 300px;
                height: 40px;
                margin: 0px auto 0px auto;
                border: 1px solid $couleur_Secondaire;
                border-radius: 30px;
                color: white;
                //background-color: $couleur_Secondaire;
                background: linear-gradient(#df83cf, #9f58b4);
                filter: brightness(0.9);
                
                @media screen and (max-width: $telephone)
                {
                    width: 300px;
                    height: 60px;
                    font-size: 0.9em;
                    color: white;
                }
                @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
                {
                    width: 450px;
                    height: 70px;
                    font-size: 1.2em;
                    color: white;
                }

                :hover{
                    border-radius: 30px;
                    width: 300px;
                    height: 40px;
                    margin-top: 0px;
                    padding-top: 0px;
                    background: linear-gradient(#df83cf, #9f58b4);
                    filter: brightness(1.2);

                    @media screen and (max-width: $telephone)
                    {
                        width: 300px;
                        height: 60px;
                        margin-top: 0px;
                    }
                    @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
                    {
                        width: 450px;
                        height: 65px;
                    }
                }
    
                .textButtonResto-prev{
                    padding-top: 5px;
                    margin-top: 0px;
                    height: 35px;
                    
                    @media screen and (max-width: $telephone)
                    {
                        margin-top: 0px;
                        margin-bottom: 10px;
                        padding-top: 15px;
                        height: 45px;
                    }
                    @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
                    {
                        padding-top: 15px;
                        margin-top: 0px;
                        margin-bottom: 10px;
                        height: 55px;
                    }
                }
            }
    
        // pour coller h2 à zone au dessus
            > h2{
                margin: 0px;

                @media screen and (max-width: $telephone)
                {
                        font-size: 1.5em;
                }
            }
        }
    }
}
