@import 'global'; /* import grid CSS */


.annonceRestaurants{
    background-color: $fond_clair;
    width: 1050px;
    font-size: 'Roboto';
    margin: 0px auto;
    @media screen and (max-width: $telephone)
    {
        width: 470px;
    }
    @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
    {
        width: 700px;
    }

    &__titre{
        padding-top: 20px;
        padding-left: 20px;
        font-size: 1.5em;
    }

    &__global{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


        &__bloc{
            width: 420px;
            height: 300px;
            margin: 20px;
            border: solid 1px grey;
            border-radius: 30px;
            overflow-x : hidden;
            position: relative;

            @media screen and (max-width: $telephone)
            {
                margin-bottom: 30px
            }
            @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
            {
                margin-bottom: 30px
            }

            &__blocHaut{

                &__image{
                    height: 210px;
                    width: 100%;
                    object-fit: fill;
                }

                &__nouveau{
                    background-color: $couleur_Tertiaire;
                    width: 80px;
                    height: 25px;
                    font-size: 1.2em;
                    padding-top: 2px;
                    padding-left: 10px;

                    color: #185e4b;

                    position: absolute;
                    top: 15px; right: 15px;

                    @media screen and (max-width: $telephone)
                    {
                        font-size: 0.4em;
                        padding-left: 10px;
                    }
                    @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
                    {
                        margin-bottom: 0px
                    }
                }
            }

            &__blocBas{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                position: relative;

                margin-top: 0px;
                margin-bottom: 0px;
                padding-top: 0px;
                padding-bottom: 0px;

                &__Texte{
                        margin-left: 20px;
                        padding-top: 0px;
                        padding-bottom: 0px;

                        @media screen and (max-width: $telephone)
                        {
                            font-size: 0.4em;
                        }

                    &____titre{
                        margin: 10px;

                        @media screen and (max-width: $telephone)
                        {
                            margin: 3px
                        }
                    }

                    &____sousTitre{
                        margin: 10px;

                        @media screen and (max-width: $telephone)
                        {
                            margin: 3px
                        }
                    }
                }

                &__icone{
                    font-size: 2em;

                    color: rgb(168, 158, 158);

                    position: absolute;
                    top: 10px; right: 20px;

                    box-shadow:inset 0 0  0 #f06;
                    transition:1s;

                    @media screen and (max-width: $telephone)
                    {
                        font-size: 0.7em;
                    }

                    .fas{
                        position: absolute;
                        right: 0px;
                        display: none;
                        font-size: 1em;
                        :hover{
                            display: flex;
                        }
                    }
                    .far{
                        font-size: 1em;
                        :hover{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}