$couleur_Primaire: #9356DC;
$couleur_Secondaire: #FF79DA;
$couleur_Secondaire_Degrade: rgb (165, 90, 220);
$couleur_Tertiaire: #99E2D0;
$fond_clair: rgb(246, 246, 246);
$fond_Sombre: rgb(234, 234, 234);

$telephone: 780px;
$tablette_basse: 781px;
$tablette_haute: 1023px;
$ordi: 1024px; 

@font-face {
    font-family: 'titre_Police';
    src: url('Shrikhand-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto_Bold';
    src: url('Roboto-Bold.ttf');
}

*{
    font-size: 1em;
    font-family: 'Roboto', Verdana;
    @media screen and (max-width: $telephone)
    {
        font-size: 1.2em;
    }
}


.menuGlobal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;

    @media screen and (max-width: $telephone)
    {
        flex-direction: column;
    }
    @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
    {
        flex-direction: column;
    }

    .titreSite{
        width: 300px;
        margin-left: 30px;
        margin-top: 20px;
        font-size: 3em;
        font-family: 'titre_Police', Arial;
        @media screen and (max-width: $telephone)
        {
            width: 99%;
            text-align: center;
            margin-left: 0px;
            margin-top: 20px;
        }
        @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
        {
            width: 99%;
            margin-left: 0px;
            margin-top: 10px;
            font-size: 3em;
            text-align: center;
        }
    }
    
    .menuNavigation{
        display: flex;
        flex-direction: row;        
        @media screen and (max-width: $telephone)
        {
            flex-direction: column;
        }
        @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
        {
            flex-direction: column;
            margin: 0px auto 0px auto;
            width: 600px;
        }
        .villeSelectionnee{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $fond_Sombre;
            background-color: $fond_Sombre;
            width: 200px;
            height: 40px;
            padding: auto 20px auto;
            margin-top: 0px;
            font-size: 1.2em;
            .fas{
                margin-right: 20px;
            }
            @media screen and (max-width: $telephone)
            {
                width: 99%; 
                height: 60px;  
                font-size : 0.5em;
            }
            @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
            {
                width: 99%; 
                height: 60px;  
                font-size : 1.6em;
            }
        }
    
        .choixResto-prev{
            display: flex;
            flex-direction: column;

            text-align: center;
            background-color: $fond_clair;
            width: 450px;
            height: 270px;
            padding-top: 0px;
            font-size: 1.4em;
            margin-bottom: 0px;

            @media screen and (max-width: $telephone)
            {
                width: 99.7%;
                height: 330px;
                font-size : 0.5em;
            }
            @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
            {
                width: 99.7%;
                height: 330px;
                font-size : 1.6em;
            }

            &__title{
                font-size: 1.2em;
                font-family: 'Roboto_Bold';
                margin-bottom: 0px;

                @media screen and (max-width: $telephone)
                {
                    font-size: 1.5em;
                }
                @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
                {
                    font-size: 1.2em;
                }
            }

            &__descriptif{
                margin-top: 0px;
                font-size: 0.9em;      
            }

            &__buttonExplorer{
                font-size: 1em;
                width: 300px;
                height: 40px;
                margin: 10px auto 10px auto;
                border: 1px solid $couleur_Secondaire;
                border-radius: 30px;
                color: white;
                background-color: $couleur_Secondaire;
                background: linear-gradient (to bottom right, $couleur_Secondaire, 20%, $couleur_Primaire); 

                @media screen and (max-width: $telephone)
                {
                    width: 280px;
                    height: 50px;
                    font-size: 0.9em;
                    color: white;
                }
                @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
                {
                    width: 450px;
                    height: 70px;
                    font-size: 1.2em;
                    color: white;
                }
    
                .textButtonResto-prev{
                    margin-top: 5px;
                    
                    @media screen and (max-width: $telephone)
                    {
                        margin-top: 12px;
                        margin-bottom: 10px;
                    }
                    @media screen and (min-width: $tablette_basse) and (max-width: $tablette_haute)
                    {
                        margin-top: 15px;
                        margin-bottom: 10px;
                    }
                }
            }
    
        // pour coller h2 à zone au dessus
            > h2{
                margin: 0px;

                @media screen and (max-width: $telephone)
                {
                        font-size: 1.5em;
                }
            }
        }
    }
}
