$couleur_Primaire: #9356DC;
$couleur_Secondaire: #FF79DA;
$couleur_Secondaire_hover: #fa92dd;
$couleur_Secondaire_Degrade: rgb (165, 90, 220);
$couleur_Tertiaire: #99E2D0;
$fond_clair: rgb(240, 240, 240);
$fond_clair_hover: rgb(255, 248, 248);
$fond_Sombre: rgb(234, 234, 234);

$telephone: 780px;
$tablette_basse: 781px;
$tablette_haute: 1023px;
$ordi: 1024px; 



.annonceRestaurants{
    background-color: $fond_clair;


}