*{
    font-size: 1em;
}

.menuGlobal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;

    .titreSite{
        width: 300px;
        margin-left: 20px;
        font-size: 2em;
    }
    
    .menuNavigation{
        display: flex;
        flex-direction: row;        
    
        .villeSelectionnee{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid grey;
            background-color: grey;
            width: 250px;
            height: 40px;
            padding: auto 20px auto;
            margin-top: 0px;
            font-size: medium;
            .fas{
                margin-right: 20px;
            }
        }
    
        .choixResto-prev{
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: rgb(175, 166, 166);
            width: 100%;
            height: 250px;
            padding-top: 10px;
            font-size: medium;
    
            &__buttonExplorer{
                font-size: 1.2em;
                width: 300px;
                height: 40px;
                margin: 10px auto 10px auto;
                border: 1px solid pink;
                border-radius: 30px;
                background-color: pink;
    
                .textButtonResto-prev{
                    margin: 0px;
                }
            }
    
        // pour coller h2 à zone au dessus
            > h2{
                margin: 0px;
                font-size: 1.5em;
            }
        }
    }
}




.fonctionment-prev{
    display: flex;
    flex-direction: column;

    > h2{
        padding-left: 20px;
        margin-top: 30px;
        }
        
        
    &__onglet{
        display: flex;
        flex-direction: row;
        border: 2px solid red;

        height: 300px;

        &__button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        width: 200px;
        height: 200px;

        border: 3px solid red;
        border-radius: none;

        margin: 10px auto 10px auto;

            .numberOnglet{
                border: 1px solid black;
                border-radius: none;
            }

            .fas{
                border: 1px solid black;
            }

            &__text{
                border: 1px solid black;
                font-size: x-large;
                text-align: center;
            }
        }
    }

}