* {
  font-size: 1em;
}

.menuGlobal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid black;
}

.menuGlobal .titreSite {
  width: 300px;
  margin-left: 20px;
  font-size: 2em;
}

.menuGlobal .menuNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menuGlobal .menuNavigation .villeSelectionnee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid grey;
  background-color: grey;
  width: 250px;
  height: 40px;
  padding: auto 20px auto;
  margin-top: 0px;
  font-size: medium;
}

.menuGlobal .menuNavigation .villeSelectionnee .fas {
  margin-right: 20px;
}

.menuGlobal .menuNavigation .choixResto-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #afa6a6;
  width: 100%;
  height: 250px;
  padding-top: 10px;
  font-size: medium;
}

.menuGlobal .menuNavigation .choixResto-prev__buttonExplorer {
  font-size: 1.2em;
  width: 300px;
  height: 40px;
  margin: 10px auto 10px auto;
  border: 1px solid pink;
  border-radius: 30px;
  background-color: pink;
}

.menuGlobal .menuNavigation .choixResto-prev__buttonExplorer .textButtonResto-prev {
  margin: 0px;
}

.menuGlobal .menuNavigation .choixResto-prev > h2 {
  margin: 0px;
  font-size: 1.5em;
}

.fonctionment-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionment-prev > h2 {
  padding-left: 20px;
  margin-top: 30px;
}

.fonctionment-prev__onglet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid red;
  height: 300px;
}

.fonctionment-prev__onglet__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 200px;
  border: 3px solid red;
  border-radius: none;
  margin: 10px auto 10px auto;
}

.fonctionment-prev__onglet__button .numberOnglet {
  border: 1px solid black;
  border-radius: none;
}

.fonctionment-prev__onglet__button .fas {
  border: 1px solid black;
}

.fonctionment-prev__onglet__button__text {
  border: 1px solid black;
  font-size: x-large;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */